@import '../variables';

.member-item {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid $border-color;
    border-radius: 5px;

    &.red {
        background-color: lighten($red-color, 40%);
        color: $red-color;
    }

    &.orange {
        background-color: lighten($orange-color, 40%);
        color: $orange-color;
    }

    &.green {
        background-color: lighten($green-color, 40%);
        color: $green-color;
    }
}