.member-item {
    list-style-type: none;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    border-radius: 5px;

    &.red {
        background-color: #ffdddd;
        color: #d8000c;
    }

    &.orange {
        background-color: #fff5e6;
        color: #9f6000;
    }

    &.green {
        background-color: #ddffdd;
        color: #4f8a10;
    }
}
